@import url("https://fonts.googleapis.com/css?family=Skranji&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Skranji", cursive;
  background: #333;
  color: #fff;
  line-height: 1.6;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

/* Background Images */
.slide:first-child {
  background: url("./images/woman-in-black-turtle-neck-top-2237300.jpg")
    no-repeat center center/cover;
}

.slide:nthchild(2) {
  background: url("./images/jordan-whitfield-faStDXKctu0-unsplash.jpg")
    no-repeat center center/cover;
}

.slide:nthchild(3) {
  background: url("./images/kristopher-roller-Zj5AZQcCYXg-unsplash.jpg")
    no-repeat center center/cover;
}

.slide:nthchild(4) {
  background: url("./images/amir-taheri-XXfYJYCZHqk-unsplash.jpg") no-repeat
    center center/cover;
}
